In [2]:
a = 10 #Press Shift+Enter to execute the cell

In [3]:
a

10

In [4]:
b = 20

In [5]:
c = a + b

In [6]:
c

30

In [7]:
print("Hello world!")

Hello world!

In [9]:
msg = "Hello world!"
print(msg)

Hello world!

In [10]:
first_name = 'albert' 
last_name = 'einstein' 
full_name = first_name + ' ' + last_name 
print(full_name)

albert einstein

In [11]:
type(a)

int

In [13]:
#List
list1 = [1,2,3,4]
list2 = [1,'Prashant',[2,3]]
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 'Prashant', [2, 3]]

In [26]:
#Access the elements in the list
#using index
#Accessing individual elements
print(list1[3])
#Access multiple elements
#Option1: use range [startIndex:upperBound] ----> upperBound = endIndex + 1

print(list1[1:3])

#Option2: use index list
print(list1[1:4:2])

4
[2, 3]
[2, 4]

In [34]:
list1[1] = 20 #lists are mutable in nature
list1

[1, 20, 3, 4]

In [27]:
#Dictionary
data = {'eid':1,'ename':'Prashant','esal':10000}
data

{'eid': 1, 'ename': 'Prashant', 'esal': 10000}

In [28]:
data['esal']

10000

In [29]:
data['eid']

1

In [30]:
#Tuples are immutable in nature .... once created, it cannot be changed.
data2 = (1,'Prashant',10000) 
data2

(1, 'Prashant', 10000)

In [32]:
data2[0] = 2

TypeError: 'tuple' object does not support item assignment

In [35]:
#Set
data = {1,2,3,4,5}

In [36]:
data

{1, 2, 3, 4, 5}

In [39]:
data1 = {1,2,3,1,2,3,4,4,5,5,5,5,5,5} #Extracts the unique values out of the set

In [40]:
data1

{1, 2, 3, 4, 5}

In [42]:
#For Loop
listData = [1,2,3,4,5]
#Multiply each value of listData by 10.
'''
for tempValue in collection:
    logic
'''
for data in listData:
    print(data * 10)
    
'''
Iteration1: data = 1 ----> 1*10 = 10
Iteration2: data = 2 ----> 2*10 = 20
Iteration3: data = 3 ----> 3*10 = 30
Iteration4: data = 4 ----> 4*10 = 40
Iteration5: data = 5 ----> 5*10 = 50

'''

resultList = []
for data in listData:
    resultList.append(data*10)
    
resultList

10
20
30
40
50

[10, 20, 30, 40, 50]

In [45]:
#if block
if 10 == 10:
    print("Yes")

Yes

In [46]:
#if else block
if 11 == 10:
    print("yes")
    print("hello")
else:
    print("no")

no

In [47]:
#else if ladder
if 11 == 10:
    print("yes")
elif 20 == 20:
    print("20 is equal to 20")
else:
    print("no")

20 is equal to 20

In [48]:
#Functions
def squareNum(num):
    return num * num

In [49]:
a = 10
result = squareNum(a)
result

100